* {
    margin: 0;
    padding: 0;
}
body {
    background: #f2f2f2;
    color: #222;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 9px;
    background: #fefefe;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #636363;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
    height: 50px;
    background: #008080;
    color: rgba(255, 255, 255, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header i.fa {
    font-size: 22px;
}

header .header-left {
    display: flex;
    align-items: center;
}

header .header-left .title {
    font-size: 15px;
    font-weight: 700;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.95);
}

main {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-title {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
    color: #515151;
    line-height: 1.5em;
    display: flex;
    border-radius: 9px;
}

.title-icon {
    margin-right: 10px;
}

.content {
    gap: 8px;
    width: 100%;
    display: flex;
    height: 100%;
}

.content-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    border-radius: 9px;
}

.content-right {
    background-color: #fefefe;
    border-radius: 9px;
    flex-grow: 1;
    user-select: none;
}

#output {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    border-radius: 9px;
}

.code {
    height: 33.33%;
    background-color: #fefefe;
    border-radius: 9px;
    position: relative;
}

.code-h {
    height: 40px;
    background-color: #dadfdf;
    line-height: 40px;
    display: flex;
    border-radius: 9px 9px 0 0;
}

.code-t {
    background-color: #fefefe;
    display: block;
    padding: 0 20px;
    font-weight: 600;
    color: #515151;
    border-radius: 9px 0 0 0;
}

.code-i {
    margin-right: 8px;
}

.code-c {
    position: absolute;
    bottom: 0px;
    top: 40px;
    padding: 10px 20px;
    word-wrap: break-word;
    resize: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    line-height: 1.2em;
    font-size: 15px;
    tab-size: 4;
    border-radius: 0 0 9px 9px;
}

.resizer {
    width: 5px;
    /* background: #9a969676; */
    background-color: #f2f2f2;
    position: absolute;
    right: -8px;
    top: 9px;
    bottom: 9px;
    cursor: col-resize;
}
